@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {

    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --ff: "Inter", serif;
    --fs-body: 16px;
    --fw-regular: 400;
    --fw-semi-bold: 700;
    --fw-bold: 800;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
} */

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
}

main {
    width: clamp(900px, 90vw, 70rem);
    margin: 40px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
}

nav ul li {
    font-size: 1.1rem;
    font-weight: normal;
    cursor: pointer;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

nav > ul> li > a:hover {
    color: var(--soft-red);
}

/* Main-Container */

.main-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.web-img {
    display: grid;
    place-content: center;
    align-items: left;
    width: 100%;
}

/* Top-Container */

.top-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* Top-Left-Box */

.top-left-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-left-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 3.2rem;
    line-height: 1;
    border: solid 1px saddlebrown;
    padding-right: 30px;
}

.right-info-panel {
    display: grid;
    flex-direction: column;
}

.article-preview {
    color: var(--dark-grayish-blue);
    font-size: .875rem;
    line-height: 1.8;
}

.read-more {
    width: fit-content;
    border: none;
    cursor: pointer;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-weight: var(--fw-semi-bold);
    letter-spacing: 3px;
    padding: 2px 20px;
  
}

/* Top-Right-Box */

.top-right-box {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
   
}

h2 {
    color: var(--soft-orange);
    font-size: 2rem;
}

.new-title {
    color: var(--off-white);
    font-size: 1.4rem;
    font-weight: var(--fw-semi-bold);
    line-height: 0;
}

.new-question {
    color: var(--grayish-blue);
    font-size: .9rem;
    line-height: 1.8;
}


/* ྆ Bottom Container */

.bottom-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#b-article {
    display: flex;
    gap: 25px;
}

.b-img > img{
    width: 100px;
    height: 125px;
}

.b-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 8px;
}

h4 {
    color: var(--grayish-blue);
    font-size: 2rem;
}

strong {
    font-size: 1rem;
    font-weight: var(--fw-bold);
}

.b-info > p {
    font-size: clamp(.625rem, .85em, 86rem);
    line-height: 1.65;
    color: var(--dark-grayish-blue);
    padding-right: 50px;
}